body {
    background-image: url('images/landscape-road-mountains-600nw-2465573769.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    margin: 0;
}

h1 {
    color: black;
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 30px; 
    text-align: center; 
    font-weight: bold; 
    font-style: italic; 
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 10px;
    font-family: Arial, sans-serif;
    font-size: 18px;
}

th {
 color: white;
}

td {
    background-color: cyan; 
}

.transparent-row td {
    background-color: transparent;  
}

.total-row td {
    background-color: black;
    color: white;
    font-weight: bold;
}

.grand-total-row td {
    background-color: cyan;
    font-weight: bold;
}

.grand-total-row td:last-child {
    color: red; 
}
